---
import { Image } from "astro:assets";

interface Tag {
  text: string;
  bgColor: string;
}

export interface Props {
  imageSrc: ImageMetadata;
  imageAlt: string;
  title: string;
  tags: Tag[];
  date: string;
  description: string;
  url: string;
}

const { imageSrc, imageAlt, title, date, tags, description, url } = Astro.props;
---

<a href={url} target="_blank" class="featured-news w-full shrink-0">
  <div class="relative">
    <Image
      src={imageSrc}
      alt={imageAlt}
      class="h-64 w-full rounded-2xl object-cover md:h-80 lg:h-96"
      loading="eager"
    />
    <div class="absolute bottom-0 h-fit w-full bg-[rgba(0,0,0,0.5)] p-3">
      <div class="flex items-center gap-5">
        <h2 class="text-large font-bold md:text-xl">
          {title}
        </h2>
        {
          // waiting on firefox to implement this... https://caniuse.com/css-text-box-trim
          tags.map((tag) => (
            <div
              class:list={[
                "flex items-center justify-center rounded-2xl px-2 text-center text-sm md:px-4",
                tag.bgColor,
              ]}
            >
              {tag.text}
            </div>
          ))
        }
      </div>
      <p class="text-sm md:text-base">
        {date}
      </p>
      <p class="w-full text-sm md:w-[50%] md:text-base/5">
        {description}
      </p>
    </div>
  </div>
</a>
