---
import { Image } from "astro:assets";
import type { Article } from "../api";

export interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<a href={article.url} target="_blank" class="shrink-0 w-full featured-news">
  <div class="relative">
    {
      typeof article.imageUrl === "string" ? (
        <img
          src={article.imageUrl}
          alt={article.imageAlt}
          class="w-full h-64 md:h-80 lg:h-96 object-cover rounded-2xl"
        />
      ) : (
        <Image src={article.imageUrl} alt={article.imageAlt} class="w-full h-64 md:h-80 lg:h-96 object-cover rounded-2xl" />
      )
    }
    <div class="absolute bottom-0 bg-[rgba(0,0,0,0.5)] w-full p-3 h-fit">
      <div class="flex items-center gap-5">
        <h2 class="text-large md:text-xl font-bold">
          {article.name}
        </h2>
        {
          // waiting on firefox to implement this... https://caniuse.com/css-text-box-trim
          article.categories.map(category => (
            <div class:list={["px-2 text-sm md:px-4 text-center rounded-2xl flex justify-center items-center ",  category === "News" ? "bg-[#FC5245]" : "bg-[#D53E91]" ]}>
              {category}
            </div>
          ))
        }
      </div>
      <p class="text-sm md:text-base">
        {article.date}
      </p>
      <p class="w-full text-sm md:w-[50%] md:text-base/5">
        {article.description}
      </p>
    </div>
  </div>
</a>