---
import { Image } from "astro:assets";
import Hb11 from "../assets/carousel/hb11.svg";
import Allfastners from "../assets/carousel/allfastners.svg";
import Ansys from "../assets/carousel/ansys.svg";
import DigitalGrid from "../assets/carousel/digital_grid.svg";
import NuclearInnovation from "../assets/carousel/nuclear_innovation.svg";
import TokamakEnergy from "../assets/carousel/tokamak_energy.svg";
---

<div class="w-full m-auto overflow-hidden relative">
  <p class="z-5 flex justify-center text-[#D7DADC] font-bold text-lg md:text-xl mt-[10vh] mb-[-5vh] 2xl:text-[1vw]">
    Our Wonderful Partners
  </p>
  <div class="flex w-full my-[10vh] xl:[200px] 2xl:ml-60 items-center justify-center">
    <Image src={Hb11} alt="HB11" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo mr-10 lg:mr-20"/>
    <Image src={Allfastners} alt="Allfastners" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo mr-10 lg:mr-20" />
    <Image src={Ansys} alt="Ansys" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo mr-10 lg:mr-20" />
    <Image src={DigitalGrid} alt="Digital Grid" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo  mr-10 lg:mr-20" />
    <Image src={NuclearInnovation} alt="Nuclear Innovation" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo  mr-10 lg:mr-20" />
    <Image src={TokamakEnergy} alt="Tokamak Energy" class="grayscale h-12 md:h-12 xl:h-15 2xl:h-20 w-auto flex-shrink-0 object-contain partner-logo" />
  </div>
  <div class="absolute top-0 left-0 w-[10vw] sm:w-[20vw] xl:w-[25vw] 2xl:w-[30vw] 3xl:w-[40vw] h-full bg-[linear-gradient(to_right,rgb(8,4,17),rgba(8,4,17,0.95)_70%,_transparent_100%)] z-5 pointer-events-none">
  </div>
  <div class="absolute top-0 right-0 w-[10vw] sm:w-[20vw] xl:w-[25vw] 2xl:w-[30vw] 3xl:w-[40vw] h-full bg-[linear-gradient(to_left,rgb(8,4,17),rgba(8,4,17,0.95)_70%,_transparent_100%)] z-5 pointer-events-none">
  </div>
</div>

<script>
  import { horizontalLoop } from "../helpers";
  import { gsap } from "gsap/gsap-core";

  window.addEventListener("load", () => {
    const mm = gsap.matchMedia()

    mm.add("(min-width: 768px)", () => {
      horizontalLoop(gsap.utils.toArray(".partner-logo"), {
        paused: false,
        repeat: -1,
        speed: 0.5,
        paddingRight: 80, // prevents the first and last item from being right next to each other
      });
    })

    mm.add("(max-width: 767px)", () => {
      horizontalLoop(gsap.utils.toArray(".partner-logo"), {
        paused: false,
        repeat: -1,
        speed: 0.5,
        paddingRight: 40, // prevents the first and last item from being right next to each other
      });
    })
  })
</script>