---
import { Image } from "astro:assets";
import Hb11 from "../assets/carousel/hb11.svg";
import Allfastners from "../assets/carousel/allfastners.svg";
import Ansys from "../assets/carousel/ansys.svg";
import DigitalGrid from "../assets/carousel/digital_grid.svg";
import NuclearInnovation from "../assets/carousel/nuclear_innovation.svg";
import TokamakEnergy from "../assets/carousel/tokamak_energy.svg";
---

<div class="relative m-auto w-full overflow-hidden">
  <p
    class="z-5 mt-[10vh] mb-[-5vh] flex justify-center text-lg font-bold text-[#D7DADC] md:text-xl 2xl:text-[1vw]"
  >
    Our Wonderful Partners
  </p>
  <div
    class="xl:[200px] mt-[10vh] flex w-full items-center justify-center 2xl:ml-60"
  >
    <Image
      src={Hb11}
      alt="HB11"
      class="partner-logo mr-10 h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 lg:mr-20 xl:h-15 2xl:h-20"
    />
    <Image
      src={Allfastners}
      alt="Allfastners"
      class="partner-logo mr-10 h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 lg:mr-20 xl:h-15 2xl:h-20"
    />
    <Image
      src={Ansys}
      alt="Ansys"
      class="partner-logo mr-10 h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 lg:mr-20 xl:h-15 2xl:h-20"
    />
    <Image
      src={DigitalGrid}
      alt="Digital Grid"
      class="partner-logo mr-10 h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 lg:mr-20 xl:h-15 2xl:h-20"
    />
    <Image
      src={NuclearInnovation}
      alt="Nuclear Innovation"
      class="partner-logo mr-10 h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 lg:mr-20 xl:h-15 2xl:h-20"
    />
    <Image
      src={TokamakEnergy}
      alt="Tokamak Energy"
      class="partner-logo h-12 w-auto flex-shrink-0 object-contain grayscale md:h-12 xl:h-15 2xl:h-20"
    />
  </div>
  <div
    class="pointer-events-none absolute top-0 left-0 z-5 h-full w-[10vw] bg-[linear-gradient(to_right,rgb(8,4,17),rgba(8,4,17,0.95)_70%,_transparent_100%)]"
  >
  </div>
  <div
    class="pointer-events-none absolute top-0 right-0 z-5 h-full w-[10vw] bg-[linear-gradient(to_left,rgb(8,4,17),rgba(8,4,17,0.95)_70%,_transparent_100%)]"
  >
  </div>
</div>

<script>
  import { horizontalLoop } from "../helpers";
  import { gsap } from "gsap/gsap-core";

  window.addEventListener("load", () => {
    const mm = gsap.matchMedia();

    mm.add("(min-width: 768px)", () => {
      horizontalLoop(gsap.utils.toArray(".partner-logo"), {
        paused: false,
        repeat: -1,
        speed: 0.5,
        paddingRight: 80, // prevents the first and last item from being right next to each other
      });
    });

    mm.add("(max-width: 767px)", () => {
      horizontalLoop(gsap.utils.toArray(".partner-logo"), {
        paused: false,
        repeat: -1,
        speed: 0.5,
        paddingRight: 40, // prevents the first and last item from being right next to each other
      });
    });
  });
</script>
