---
import { Image } from "astro:assets";

interface Tag {
  text: string;
  bgColor: string;
}

export interface Props {
  imageSrc: ImageMetadata;
  imageAlt: string;
  title: string;
  tags: Tag[];
  date: string;
  description: string;
  url: string;
}

const { imageSrc, imageAlt, title, date, tags, description, url } = Astro.props;
---

<div class="flex max-h-[500px] w-full flex-col items-start gap-2">
  <Image
    src={imageSrc}
    alt={imageAlt}
    class="mb-1 h-[200px] w-full rounded-lg object-cover"
    loading="eager"
  />
  {
    tags.map((tag) => (
      <div
        class:list={[
          "flex items-center justify-center rounded-2xl px-4 text-center",
          tag.bgColor,
        ]}
      >
        {tag.text}
      </div>
    ))
  }
  <div>
    <p class="text-xl font-bold">{title}</p>
    <p class="text-[#AAAAAA]">{date}</p>
  </div>
  <p class="text-gray_text leading-5">
    {description}
  </p>
  <a href={url} target="_blank">
    <span class="group inline-flex w-max items-center text-blue-400">
      <span class="decoration-blue-400 transition-all group-hover:underline">
        Learn More
      </span>
      <span class="ml-1"> &gt; </span>
    </span>
  </a>
</div>
