---
import RegularNewsCard from "./RegularNewsCard.astro";
import clampProtoype from "../assets/news/clamp.webp";
import glowDischarge from "../assets/news/glow-discharge.webp"
import smh from "../assets/news/smh.webp";
import createDigital from "../assets/news/create-digital.webp";
import newsCom from "../assets/news/news-com.webp";
import mia from "../assets/news/mia.webp";
import type { News } from "../api";

export interface Props {
  news: News;
}

const { news } = Astro.props;
---

<div class="w-full max-w-[1200px] mb-52 lg:mb-96 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
  <RegularNewsCard
    imageSrc={clampProtoype}
    imageAlt="AtomCraft member welding"
    title="Clamp Prototype"
    date="05/11/2024"
    tags={[
      {
        text: "Social",
        bgColor: "bg-[#D53E91]"
      }
    ]}
    description="Our structures team have been hard at work, and today marks the completion of our first clamp prototype!!"
    url="https://www.linkedin.com/posts/atomcraft_our-structures-team-have-been-hard-at-work-activity-7259357503308578816-JurT"
  />

  <RegularNewsCard
    imageSrc={glowDischarge}
    imageAlt="Glow discharge"
    title="Glow Discharge"
    date="04/11/2024"
    tags={[
      {
        text: "Social",
        bgColor: "bg-[#D53E91]"
      }
    ]}
    description="This past Friday, the Vacuum and Gas Delivery team ran the first Glow Discharge experiment, and here are the snazzy results!"
    url="https://www.linkedin.com/posts/atomcraft_le-glow-pot-this-past-friday-the-vacuum-activity-7258995116290228224-Uaio"
  />

  <RegularNewsCard
    imageSrc={mia}
    imageAlt="Team disassembling a microwave"
    title="MIA: Microwaves in Action"
    date="01/11/2024"
    tags={[
      {
        text: "Social",
        bgColor: "bg-[#D53E91]"
      }
    ]}
    description="Our team dives into microwave disassembly, to harness radio frequencies that will heat the plasma inside our Tokamak."
    url="https://www.linkedin.com/posts/atomcraft_mia-microwaves-in-action-our-team-activity-7257904190058827776-qWtN"
  />

  <RegularNewsCard
    imageSrc={createDigital}
    imageAlt="Inside of a tokamak machine"
    title="World-first fusion device powers student education"
    date="21/09/2023"
    tags={[
      {
        text: "News",
        bgColor: "bg-[#FC5245]"
      }
    ]}
    description="The first ever nuclear fusion device entirely designed and operated by students will be constructed at the University of New South Wales."
    url="https://createdigital.org.au/fusion-device-student-education/"
  />

  <RegularNewsCard
    imageSrc={smh}
    imageAlt="Harvey Ling (right) and a group of other nuclear engineering students at UNSW involved in designing a tokamak nuclear fusion machine."
    title="Sydney students building nuclear device to unlock the energy of stars"
    date="18/09/2023"
    tags={[
      {
        text: "News",
        bgColor: "bg-[#FC5245]"
      }
    ]}
    description="Sydney students are building a device capable of nuclear fusion &ndash; the process that powers stars and could unlock enormous amounts of carbon-free energy on Earth."
    url="https://www.smh.com.au/national/nsw/sydney-students-building-nuclear-device-to-unlock-the-energy-of-stars-20230913-p5e4fy.html"
  />

  <RegularNewsCard
    imageSrc={newsCom}
    imageAlt="Laser fusion pioneer Prof Heinrich Hora (centre) with (from left) HB11 co-founder Dr Warren McKenzie, Macquarie University and UNSW collaborators and Alex Fuerbach and Prof Francois Ladouceur, HB11 Energy Director and former ANSTO CEO Dr Adi Paterson."
    title="UNSW students announce fusion power product which they say will drastically reduce power bills"
    date="14/09/2023"
    tags={[
      {
        text: "News",
        bgColor: "bg-[#FC5245]"
      }
    ]}
    description="Energy prices are a big part of the cost-of-living crisis crushing Australians, but some Sydney university students and tech visionaries are working on a new fuel that would eliminate power bills."
    url="https://www.news.com.au/technology/innovation/inventions/unsw-students-announce-fusion-power-product-which-they-say-will-drastically-reduce-power-bills/news-story/6a3e7afa55dbb1bc528e59d084e02f17"
  />
</div>