---
import { Image } from "astro:assets";

export interface Props {
  imageSrc: ImageMetadata;
  imageAlt: string;
  name: string;
  role: string;
  nameSize: string;
  imageSize?: string;
}

const {
  imageSrc,
  imageAlt,
  name,
  role,
  nameSize,
  imageSize = "",
} = Astro.props;
---

<div class="flex w-full flex-col items-center">
  <Image src={imageSrc} alt={imageAlt} class={imageSize} />
  <p class={nameSize}>
    {name}
  </p>
  <p class="text-gray_text text-center">
    {role}
  </p>
</div>
