---
import { Image } from "astro:assets";

export interface Props {
  imageSrc: ImageMetadata | string;
  imageAlt: string;
  name: string;
  role: string;
  nameSize: string;
  imageClass?: string;
}

const {
  imageSrc,
  imageAlt,
  name,
  role,
  nameSize,
  imageClass = "",
} = Astro.props;
---

<div class="flex w-full flex-col items-center">
  {
    typeof imageSrc === "string" ? (
      <Image
        src={imageSrc}
        alt={imageAlt}
        width={200}
        height={200}
        class={imageClass}
      />
    ) : (
      <Image src={imageSrc} alt={imageAlt} class={imageClass} />
    )
  }
  <p class={nameSize}>
    {name}
  </p>
  <p class="text-gray_text text-center">
    {role}
  </p>
</div>
