---
import { Image } from "astro:assets";
import part1 from "../assets/tokamak/tokamak-part1.png"
import part2 from "../assets/tokamak/tokamak-part2.png"
import part3 from "../assets/tokamak/tokamak-part3.png"
import rightArrow from "../assets/right-arrow.svg";
import leftArrow from "../assets/left-arrow.svg";
---

<div class="flex flex-col justify-center items-center pb-30">
  <h2 id="title" class="text-4xl xl:text-7xl font-bold mb-5 lg:mb-20">
    THE TOKAMAK
  </h2>
  <div id="tokamak" class="flex overflow-x-hidden items-center relative w-[95%] md:w-[80%] xl:w-[50%]">
    <div class="tokamak-part flex flex-col items-center w-full relative shrink-0 cursor-pointer">
      <h3 class="text-3xl font-medium md:text-4xl lg:text-5xl xl:text-6xl">
        Part 1
      </h3>
      <div class="relative w-[80%] aspect-square">
        <Image src={part1} alt="Tokamak part" class="absolute inset-0 w-full h-full object-contain z-10"/>
        <div class="absolute inset-5 bg-[radial-gradient(circle_at_center,rgba(255,255,255,0.8)_0%,transparent_90%)] blur-2xl"/>
      </div>
      <p class="text-center sm:text-xl xl:text-2xl text-gray_text font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. 
      </p>
    </div>
    <div class="tokamak-part flex flex-col items-center w-full relative shrink-0 cursor-pointer">
      <h3 class="text-3xl font-medium md:text-4xl lg:text-5xl xl:text-6xl">
        Part 2
      </h3>
      <div class="relative w-[80%] aspect-square">
        <Image src={part2} alt="Tokamak part" class="absolute inset-0 w-full h-full object-contain z-10"/>
        <div class="absolute inset-5 bg-[radial-gradient(circle_at_center,rgba(255,255,255,0.8)_0%,transparent_90%)] blur-2xl"/>
      </div>
      <p class="text-center sm:text-xl xl:text-2xl text-gray_text font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. 
      </p>
    </div>
    <div class="tokamak-part flex flex-col items-center w-full relative shrink-0 cursor-pointer">
      <h3 class="text-3xl font-medium md:text-4xl lg:text-5xl xl:text-6xl">
        Part 3
      </h3>
      <div class="relative w-[80%] aspect-square">
        <Image src={part3} alt="Tokamak part" class="absolute inset-0 w-full h-full object-contain z-10"/>
        <div class="absolute inset-10 bg-[radial-gradient(circle_at_center,rgba(255,255,255,0.8)_0%,transparent_90%)] blur-2xl"/>
      </div>
      <p class="text-center sm:text-xl xl:text-2xl text-gray_text font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. 
      </p>
    </div>
  </div>
  <div class="w-screen sm:w-[95%] md:w-[80%] xl:w-[50%] flex justify-between md:mt-10">
    <button id="prev-btn" class="cursor-pointer p-2 rounded-full transition-colors duration-200 active:bg-slate-500/50 hover:bg-slate-500/30">
      <Image src={leftArrow} alt="left arrow" class="w-7 md:w-10"/>
    </button>
    <button id="next-btn" class="cursor-pointer p-2 rounded-full transition-colors duration-200 active:bg-slate-500/50 hover:bg-slate-500/30">
      <Image src={rightArrow} alt="right arrow" class="w-7 md:w-10"/>
    </button>
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import { horizontalLoop } from "../helpers";

  gsap.registerPlugin(ScrollTrigger)

  document.addEventListener("DOMContentLoaded", () => {
    gsap.from("#title", {
      y: 50,
      opacity: 0,
      duration: 1,
      ease: "power3.out",

      scrollTrigger: {
        trigger: "#title",
        start: "top 60%",
        once: true,
      }
    });

    gsap.from("#tokamak", {
      y: 50,
      opacity: 0,
      duration: 3,
      ease: "power3.out",

      scrollTrigger: {
        trigger: "#tokamak",
        start: "top 60%",
        once: true,
      }
    });

    const parts = gsap.utils.toArray(".tokamak-part") as HTMLElement[];
    const loop = horizontalLoop(parts, {
      paused: true
    });

    parts.forEach((part, i) => part.addEventListener("click", () => {
      loop.next({
        duration: 1,
        ease: "power3.inOut",
      })
    }))

    document.querySelector("#next-btn")?.addEventListener("click", () => {
      loop.next({
        duration: 1,
        ease: "power3.inOut",
      })
    })

    document.querySelector("#prev-btn")?.addEventListener("click", () => {
      loop.previous({
        duration: 1,
        ease: "power3.inOut",
      })
    })
  })
</script>