---
import { Image } from "astro:assets";
import RolesLayout from "../layouts/RolesLayout.astro";
import ed from "../assets/roles/ed.png";
import RolesCard from "../components/RolesCard.astro";
import TeamsContainer from "../components/TeamsContainer.astro";
import Patrick from "../assets/roles/patrick.png";
import Richard from "../assets/roles/richard.png";
import Emma from "../assets/roles/emma.png";
import Matt from "../assets/roles/matt.png";
import John from "../assets/roles/john.png";
import Will from "../assets/roles/will.png";
import Darson from "../assets/roles/darson.png";
import Harvey from "../assets/roles/harvey.png";
import Anna from "../assets/roles/anna.png";
import Cormac from "../assets/roles/comrac.png";
import Default from "../assets/roles/default.svg";
import Benjamin from "../assets/roles/benjamin.png";
import Eskil from "../assets/roles/eskil.png";
import Alfie from "../assets/roles/alfie.png";
import Rose from "../assets/roles/rose.png";
import Owen from "../assets/roles/owen.png";
import Rhys from "../assets/roles/rhys.png";
import Nicholas from "../assets/roles/nicholas.png";
import Bani from "../assets/roles/bani.svg";
---

<RolesLayout>
  <div class="mt-[150px] max-w-[1500px] w-[90%] mx-auto mb-[50vh]">
    <div class="flex flex-col items-center gap-20 w-full">
      <h1 class="lg:w-2xl text-4xl md:text-5xl lg:text-6xl text-center font-semibold">
      Meet our team of <span class="italic">Creators</span>, <span class="italic">Engineers</span>, and <span class="italic">Visionaries</span>
      </h1>

      <div class="flex flex-col items-center w-full">
        <h2 class="text-4xl font-semibold mb-10">
          Academics
        </h2>
        <div class="grid md:grid-cols-2 w-full xl:w-[80%] gap-10">
          <RolesCard imageSrc={ed} imageAlt="Edward Obbard" name="Edward Obbard" role="School of Mechanical and Manufacturing Engineering" nameSize="text-3xl" imageSize="w-[250px] sm:w-[300px]"/>
          <RolesCard imageSrc={Patrick} imageAlt="Patrick Burr" name="Patrick Burr" role="School of Mechanical and Manufacturing Engineering" nameSize="text-3xl" imageSize="w-[250px] sm:w-[300px]"/>
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-10 w-full mt-10 md:mt-5">
          <RolesCard imageSrc={Richard} imageAlt="Richard Hopkins" name="Richard Hopkins" role="UNSW Engineering" nameSize="xs:text-xl sm:text-2xl"/>
          <RolesCard imageSrc={Emma} imageAlt="Dr. Emma Lovell" name="Dr. Emma Lovell" role="School of Chemical Engineering" nameSize="xs:text-xl sm:text-2xl"/>
          <RolesCard imageSrc={Matt} imageAlt="Dr. Matt Brand" name="Dr. Matt Brand" role="School of Mechanical and Manufacturing Engineering" nameSize="xs:text-xl sm:text-2xl"/>
          <RolesCard imageSrc={John} imageAlt="Prof. John Fletcher" name="Prof. John Fletcher" role="School of Electrical Engineering and Telecommunications" nameSize="xs:text-xl sm:text-2xl"/>
          <RolesCard imageSrc={Will} imageAlt="Dr. Will Midgley" name="Dr. Will Midgley" role="School of Mechanical and Manufacturing Engineering" nameSize="xs:text-xl sm:text-2xl"/>
          <RolesCard imageSrc={Darson} imageAlt="Dr. Darson Li" name="Dr. Darson Li" role="School of Mechanical and Manufacturing Engineering" nameSize="xs:text-xl sm:text-2xl"/>
        </div>
      </div>
    </div>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-10">
        Postgraduates
      </h2>
      <RolesCard imageSrc={Harvey} imageAlt="Harvey Ling" name="Harvey Ling" role="Concept design lead" nameSize="xs:text-xl sm:text-2xl"/>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-10">
        Leadership Team
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Anna} imageAlt="Anna Koth-Ofoegbu" name="Anna Koth-Ofoegbu" role="Project Manager" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Cormac} imageAlt="Cormac Morrison" name="Cormac Morrison" role="Integration Engineer" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Ishaan Nandrukar" name="Ishaan Nandrukar" role="Integration Engineer" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Benjamin} imageAlt="Benjamin Kernohan" name="Benjamin Kernohan" role="Integration Engineer" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Eskil} imageAlt="Eskil Tobias Aune" name="Eskil Tobias Aune" role="Integration Engineer" nameSize="xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Mechanical Structures
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        Design, manufacture, and test critical infrastructure and components of the tokamak. 
        Ranging from supports and coil structures; to vacuum vessels for SOUTH, 
        we also develop miscellaneous apparatuses to facilitate experiments and R&D for other teams.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Siddarth Ravi" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Keven Maharaj" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Alfie} imageAlt="Man in purple AtomCraft shirt" name="Alfie Jones" role="Technical Officer" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Blake Shackley" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Dharma Yuartha" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Jeremy Archer" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Manush Kamlesh Patel" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Nathan Huang" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Cameron Rolph" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Justin Michael" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Vacuum & Fuelling
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        The “V&F” team is responsible for designing a vacuum vessel to confine the plasma and prevent contamination, 
        alongside the tokamak’s front and back-end gas fuel lines. From designing high-purity hydrogen fuel 
        lines to testing valves, fittings, and control systems, we develop and operate fuelling and vacuum 
        systems to create the clean, controlled environments fusion needs to thrive.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Amy Ling" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Selina Yan" role="Gas Safety" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Prathamesh Pawar" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Erika Daubaras" role="Cleaning" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Jonathan Cao" role="Controls" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Neggy Dehghan" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Control Systems
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        We handle the technical integration of the tokamak’s subsystems, acting as the glue of the project, 
        and manage high level operational control systems.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Vasilis Pteris" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Owen} imageAlt="Man smiling in a suit" name="Owen Pang" role="Co-Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Allen Chen" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Ved Dhiman" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Coil Control
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        Coil Controls objective is to implement controllers capable of tracking and creating the current 
        profiles produced by the plasma department for each of the coil systems: toroidal, poloidal and central solenoid.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Nandit Shah" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Shrinil Desai" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Caroline Lee" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Connor Wiseman" role="Diagnostics" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Dennis Chacko" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Finley Wallace" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Tian Huang" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        RF Engineering
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        We combine microwave engineering with interesting physics to heat up our plasma. 
        If you want to learn new things an ordinary course can’t teach you, RF engineering is for you.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Rhys} imageAlt="Man in purple AtomCraft shirt" name="Rhys Johnston" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Arki Najdzion" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Emma Tam" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Liam Krivacic" role="Diagnostics" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Riccardo Longhi" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Chirag Channagiri Kowligi" role="Team Member" nameSize="text-center xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Plasma Modelling and Diagnostics
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        Simulates plasma dynamics and develops diagnostic tools to measure key properties such as temperature, 
        density, and confinement quality. These models and measurements are essential for guiding magnetic 
        confinement design and optimizing plasma performance.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Jordan Whittaker" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Aryan Makhija" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Kerry Yang" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Nicholas Piscioneri" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Bani Rajpal" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Alex Holbrook" role="Team Member" nameSize="text-center xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="James Liu" role="Team Member" nameSize="text-center xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Energy Storage
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        We are responsible for acquiring, storing, and delivering energy to the Tokamak. Our members must take their 
        electrical engineering expertise and step it up to hundreds or even thousands of amps of current.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Adrian Sabato" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Casey Thomas" role="Co-Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Lachlan Butcher" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Yuehan Xia" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Sullyman Rasouli" role="Team Member" nameSize="text-center xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Anuva Gehija" role="Team Member" nameSize="text-center xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>

    <TeamsContainer>
      <h2 class="text-4xl font-semibold mb-5">
        Business and Development
      </h2>
      <p class="text-center w-[50%] mb-10 text-lg">
        This team drives outreach and strategic growth by managing partnerships, funding, and marketing efforts, from liaising 
        with sponsors and suppliers to pitching AtomCraft to the world.
      </p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 w-full mt-10 md:mt-5">
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Roshween Riar" role="Team Lead" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Silviu Szkipala" role="Sponsorships" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Hayne" role="Team Member" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Justin Xia" role="Website Officer" nameSize="xs:text-xl sm:text-2xl"/>
        <RolesCard imageSrc={Default} imageAlt="Default Profile Picture" name="Selina Yan" role="Prospectus" nameSize="text-center xs:text-xl sm:text-2xl"/>
      </div>
    </TeamsContainer>
  </div>
</RolesLayout>