---
import { getTeams } from "../api";
import RolesLayout from "../layouts/RolesLayout.astro";
import RolesCard from "../components/RolesCard.astro";
import TeamsContainer from "../components/TeamsContainer.astro";
import Default from "../assets/roles/default.svg";

const teams = await getTeams();

const academicsTeam = teams.find((t) => t.name === "Academics");
const otherTeams = teams.filter((t) => t.name !== "Academics");
---

<RolesLayout>
  <div class="mx-auto mt-[150px] mb-[30vh] w-[90%] max-w-[1500px] lg:mb-[50vh]">
    <div class="flex w-full flex-col items-center gap-20">
      <h1
        class="text-center text-4xl font-semibold md:text-5xl lg:w-2xl lg:text-6xl"
      >
        Meet our team of <span class="italic">Creators</span>, <span
          class="italic">Engineers</span
        >, and <span class="italic">Visionaries</span>
      </h1>

      {
        academicsTeam && (
          <div class="flex w-full flex-col items-center">
            <h2 class="mb-10 text-4xl font-semibold">{academicsTeam.name}</h2>
            {academicsTeam.description && (
              <p class="mb-10 w-[80%] text-center text-lg xl:w-[50%]">
                {academicsTeam.description}
              </p>
            )}
            <div class="mt-10 grid w-full grid-cols-2 gap-10 md:mt-5 lg:grid-cols-3">
              {academicsTeam.members.map((member) => (
                <RolesCard
                  imageSrc={member.imageUrl || Default}
                  imageAlt={
                    member.imageAlt || `Profile photo of ${member.name}`
                  }
                  name={member.name}
                  role={member.role}
                  nameSize="xs:text-xl sm:text-2xl text-center"
                  imageClass="w-[250px] h-[250px] rounded-full"
                />
              ))}
            </div>
          </div>
        )
      }

      {
        otherTeams.map((team) => (
          <TeamsContainer>
            <h2 class="xs:text-4xl mb-5 text-center text-3xl font-semibold">
              {team.name}
            </h2>
            {team.description && (
              <p class="mb-10 w-[80%] text-center text-lg xl:w-[50%]">
                {team.description}
              </p>
            )}

            <div
              class={`mt-10 ${team.members.length < 3 ? "flex flex-wrap justify-center gap-10" : "mt-10 grid w-full grid-cols-2 gap-10 md:mt-5 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"}`}
            >
              {team.members.map((member) => (
                <RolesCard
                  imageSrc={member.imageUrl || Default}
                  imageAlt={
                    member.imageAlt || `Profile photo of ${member.name}`
                  }
                  name={member.name}
                  role={member.role}
                  nameSize="xs:text-xl sm:text-2xl text-center"
                  imageClass="w-[200px] h-[200px] rounded-full"
                />
              ))}
            </div>
          </TeamsContainer>
        ))
      }
    </div>
  </div>
</RolesLayout>
